body {
    font-family: Arial, sans-serif;
    padding: 10px;
    width: 300px;
}

h1 {
    font-size: 18px;
}

input,
button {
    margin: 5px 0;
    padding: 5px;
    width: 100%;
}

#result {
    margin-top: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}